
body 
{
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: black;

}

button 
{
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background 0.3s ease;
}

button:disabled 
{
    background-color: #888;
    cursor: not-allowed;
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  10% { opacity: 0; }
  20% { opacity: 1; }
  30% { opacity: 0; }
  40% { opacity: 1; }
  50% { opacity: 0; }
  60% { opacity: 1; }
  70% { opacity: 0; }
  80% { opacity: 1; }
  90% { opacity: 0; }
}

.flicker-out {
  animation: flicker 3s linear forwards;
}

img 
{
    max-width: 90vw;
    max-height: 60vh;
    margin-top: 20px;
    border-radius: 8px;
}